Repository GEOS-ESM/GMAO_Shared, changes with the owners that .github/CODEOWNERS names for each.
All owners: @GEOS-ESM/adas-gatekeepers, @GEOS-ESM/gcm-gatekeepers, @GEOS-ESM/cmake-team, @GEOS-ESM/land-team, @GEOS-ESM/seaice-team

update gfio.py to AeroApps python3 version
  GMAO_gfio/gfio.py
Owners: @GEOS-ESM/adas-gatekeepers, @GEOS-ESM/gcm-gatekeepers

update gfio cmakelists to py3
  GMAO_gfio/CMakeLists.txt
Owners: @GEOS-ESM/cmake-team, @GEOS-ESM/adas-gatekeepers, @GEOS-ESM/gcm-gatekeepers

update gmao_ods to python3
  GMAO_ods/pyods/__init__.py
Owners: @GEOS-ESM/adas-gatekeepers, @GEOS-ESM/gcm-gatekeepers

update GMAO_ods f2py build to use python3
  GMAO_ods/CMakeLists.txt
Owners: @GEOS-ESM/cmake-team, @GEOS-ESM/adas-gatekeepers, @GEOS-ESM/gcm-gatekeepers

Move to circleci-tools v2 orb
  .circleci/config.yml
Owners: @GEOS-ESM/cmake-team

Update changelog
  CHANGELOG.md
Owners: @GEOS-ESM/adas-gatekeepers, @GEOS-ESM/gcm-gatekeepers

Updates for v10.25.1 for SLES15
  GMAO_etc/esma_mpirun
Owners: @GEOS-ESM/adas-gatekeepers, @GEOS-ESM/gcm-gatekeepers

python 3 install
  GMAO_ods/CMakeLists.txt
Owners: @GEOS-ESM/cmake-team, @GEOS-ESM/adas-gatekeepers, @GEOS-ESM/gcm-gatekeepers

Commit a bundle of code updates for MERRA-21C candidate tag
  GMAO_etc/obsys-nccs-r21c.rc
  GMAO_ods/kx_register.tbl
  GMAO_ods/ods_dcget.f
  GMAO_ods/odsmeta.h
  GMAO_ods/ozone-kx.readme
Owners: @GEOS-ESM/adas-gatekeepers, @GEOS-ESM/gcm-gatekeepers

Update CircleCI to use Orb v2
  .circleci/config.yml
  CHANGELOG.md
Owners: @GEOS-ESM/cmake-team, @GEOS-ESM/adas-gatekeepers, @GEOS-ESM/gcm-gatekeepers

update changelog
  CHANGELOG.md
Owners: @GEOS-ESM/adas-gatekeepers, @GEOS-ESM/gcm-gatekeepers

Update CHANGELOG.md
  CHANGELOG.md
Owners: @GEOS-ESM/adas-gatekeepers, @GEOS-ESM/gcm-gatekeepers

Updates needed to run v10.23.0 on SLES15 at NCCS
  GMAO_etc/esma_mpirun
Owners: @GEOS-ESM/adas-gatekeepers, @GEOS-ESM/gcm-gatekeepers

Update R21C CI
  .circleci/config.yml
Owners: @GEOS-ESM/cmake-team

Update R21C CI, Try 2
  .circleci/config.yml
Owners: @GEOS-ESM/cmake-team

Update R21C CI, Try 3
  .circleci/config.yml
Owners: @GEOS-ESM/cmake-team

Update R21C CI, try the latest?
  .circleci/config.yml
Owners: @GEOS-ESM/cmake-team

Use good yaml
  .circleci/config.yml
Owners: @GEOS-ESM/cmake-team

Don't be an idiot
  .circleci/config.yml
Owners: @GEOS-ESM/cmake-team

Use R21C-for-CI branch
  .circleci/config.yml
Owners: @GEOS-ESM/cmake-team

Add reactive trace gas obstypes to make ods work
  GMAO_ods/ods_dcget.f
  GMAO_ods/ods_dcscan.f
  GMAO_ods/ods_dsbuv.f
  GMAO_ods/odsmeta.h
Owners: @GEOS-ESM/adas-gatekeepers, @GEOS-ESM/gcm-gatekeepers

Update R21C CI to work
  .circleci/config.yml
Owners: @GEOS-ESM/cmake-team

per Rob request
  GMAO_etc/Remote_utils.pm
Owners: @GEOS-ESM/adas-gatekeepers, @GEOS-ESM/gcm-gatekeepers

update log
  CHANGELOG.md
Owners: @GEOS-ESM/adas-gatekeepers, @GEOS-ESM/gcm-gatekeepers

Patch FP: per request from OPS group (#344)
  CHANGELOG.md
  GMAO_etc/Remote_utils.pm
Owners: @GEOS-ESM/adas-gatekeepers, @GEOS-ESM/gcm-gatekeepers

add omps-lp class
  GMAO_etc/obsys-nccs.rc
Owners: @GEOS-ESM/adas-gatekeepers, @GEOS-ESM/gcm-gatekeepers

add comment
  CHANGELOG.md
Owners: @GEOS-ESM/adas-gatekeepers, @GEOS-ESM/gcm-gatekeepers

FP Patch: add class for OMPS-LP (#345)
  CHANGELOG.md
  GMAO_etc/obsys-nccs.rc
Owners: @GEOS-ESM/adas-gatekeepers, @GEOS-ESM/gcm-gatekeepers

update flk
  GMAO_etc/obsys-nccs-gaas.rc
Owners: @GEOS-ESM/adas-gatekeepers, @GEOS-ESM/gcm-gatekeepers

GMI fix and bundled updates to support MERRA-21C production
  GMAO_etc/obsys-nccs-gaas-r21c.rc
  GMAO_etc/obsys-nccs-r21c.rc
Owners: @GEOS-ESM/adas-gatekeepers, @GEOS-ESM/gcm-gatekeepers

Update CHANGELOG.md
  CHANGELOG.md
Owners: @GEOS-ESM/adas-gatekeepers, @GEOS-ESM/gcm-gatekeepers

need llk for latest x50 runs
  GMAO_etc/obsys-nccs-gaas.rc
Owners: @GEOS-ESM/adas-gatekeepers, @GEOS-ESM/gcm-gatekeepers

latest location of data
  GMAO_etc/obsys-nccs-gaas.rc
Owners: @GEOS-ESM/adas-gatekeepers, @GEOS-ESM/gcm-gatekeepers

almost working
  GMAO_gfio/CMakeLists.txt
  GMAO_gfio/gfio.py
Owners: @GEOS-ESM/cmake-team, @GEOS-ESM/adas-gatekeepers, @GEOS-ESM/gcm-gatekeepers

another python3 thing
  GMAO_ods/CMakeLists.txt
Owners: @GEOS-ESM/cmake-team, @GEOS-ESM/adas-gatekeepers, @GEOS-ESM/gcm-gatekeepers

Updates for SLES15 for QuickChem branch
  GMAO_etc/esma_mpirun
Owners: @GEOS-ESM/adas-gatekeepers, @GEOS-ESM/gcm-gatekeepers

vectorize the operation in helfsurfce and other subroutines
  GEOS_Shared/surfacelayer.F90
Owners: @GEOS-ESM/adas-gatekeepers, @GEOS-ESM/gcm-gatekeepers, @GEOS-ESM/land-team

more fixes
  GEOS_Shared/surfacelayer.F90
Owners: @GEOS-ESM/adas-gatekeepers, @GEOS-ESM/gcm-gatekeepers, @GEOS-ESM/land-team

further refactoring...
  GEOS_Shared/surfacelayer.F90
Owners: @GEOS-ESM/adas-gatekeepers, @GEOS-ESM/gcm-gatekeepers, @GEOS-ESM/land-team

change log
  CHANGELOG.md
Owners: @GEOS-ESM/adas-gatekeepers, @GEOS-ESM/gcm-gatekeepers

.github/CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.
# Order is important; the last matching pattern takes the most
# precedence.

# Inform both ADAS and GCM Gatekeepers on changes
# This could get more specific over time
* @GEOS-ESM/adas-gatekeepers @GEOS-ESM/gcm-gatekeepers

# Cmake team manages the circleci and github dirs
/.circleci/ @GEOS-ESM/cmake-team
/.github/   @GEOS-ESM/cmake-team

# GEOS_Shared has files that the GCM and Land Team care about
/GEOS_Shared/ @GEOS-ESM/adas-gatekeepers @GEOS-ESM/gcm-gatekeepers @GEOS-ESM/land-team

# LANL_Shared is seaice territory
/LANL_Shared/ @GEOS-ESM/adas-gatekeepers @GEOS-ESM/gcm-gatekeepers @GEOS-ESM/seaice-team

# The GEOS CMake Team should also see CMakeLists.txt files in this repository
CMakeLists.txt @GEOS-ESM/cmake-team @GEOS-ESM/adas-gatekeepers @GEOS-ESM/gcm-gatekeepers
