Repository GEOS-ESM/GMAO_Shared, changes with the owners that .github/CODEOWNERS names for each.
All owners: @GEOS-ESM/adas-gatekeepers, @GEOS-ESM/gcm-gatekeepers, @GEOS-ESM/cmake-team, @GEOS-ESM/land-team, @GEOS-ESM/seaice-team

.github/CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.
# Order is important; the last matching pattern takes the most
# precedence.

# Inform both ADAS and GCM Gatekeepers on changes
# This could get more specific over time
* @GEOS-ESM/adas-gatekeepers @GEOS-ESM/gcm-gatekeepers

# Cmake team manages the circleci and github dirs
/.circleci/ @GEOS-ESM/cmake-team
/.github/   @GEOS-ESM/cmake-team

# GEOS_Shared has files that the GCM and Land Team care about
/GEOS_Shared/ @GEOS-ESM/adas-gatekeepers @GEOS-ESM/gcm-gatekeepers @GEOS-ESM/land-team

# LANL_Shared is seaice territory
/LANL_Shared/ @GEOS-ESM/adas-gatekeepers @GEOS-ESM/gcm-gatekeepers @GEOS-ESM/seaice-team

# The GEOS CMake Team should also see CMakeLists.txt files in this repository
CMakeLists.txt @GEOS-ESM/cmake-team @GEOS-ESM/adas-gatekeepers @GEOS-ESM/gcm-gatekeepers

enhanced brightband logic in calcdbz diagnostic
  GEOS_Shared/calcdbz.F
Owners: @GEOS-ESM/adas-gatekeepers, @GEOS-ESM/gcm-gatekeepers, @GEOS-ESM/land-team

CRITICAL: calcdbz patch v12 codes did not have the separate snow/graupel/hail liquid skin options
  GEOS_Shared/calcdbz.F
Owners: @GEOS-ESM/adas-gatekeepers, @GEOS-ESM/gcm-gatekeepers, @GEOS-ESM/land-team

updated iliqskin to apply to just snow or snow & graupel as in SFE25
  GEOS_Shared/calcdbz.F
Owners: @GEOS-ESM/adas-gatekeepers, @GEOS-ESM/gcm-gatekeepers, @GEOS-ESM/land-team

v5.42.12/src/Shared/@GMAO_Shared/GEOS_Shared/getcdh.code:20:2: Fatal Error: unused_dummy.H: No such file or directory compilation terminated.
  GEOS_Shared/CMakeLists.txt
Owners: @GEOS-ESM/cmake-team, @GEOS-ESM/adas-gatekeepers, @GEOS-ESM/gcm-gatekeepers

prepare release v2.1.7
  CHANGELOG.md
Owners: @GEOS-ESM/adas-gatekeepers, @GEOS-ESM/gcm-gatekeepers

modifications to GMAO_ods
  GMAO_ods/CMakeLists.txt
  GMAO_ods/dconv2ods.f
  GMAO_ods/m_ODS_Sample.f
  GMAO_ods/ods_blank.f90
  GMAO_ods/ods_diagnc4.f90
  GMAO_ods/ods_maker.f90
  GMAO_ods/ods_scan.f
  GMAO_ods/ods_synX2Y.f90
  GMAO_ods/ods_tally.f90
  GMAO_ods/odsemean.f
  GMAO_ods/odslist.f
  GMAO_ods/odsmatch.f
  GMAO_ods/odsselect.f
  GMAO_ods/odsshuffle.f
  GMAO_ods/odsstats.f
  GMAO_psas/lnblnk.F
Owners: @GEOS-ESM/cmake-team, @GEOS-ESM/adas-gatekeepers, @GEOS-ESM/gcm-gatekeepers

hand corrected old fortran jargon to modern ones GMAO_psas/ GMAO_transf/CMakeLists.txt
  GMAO_psas/CMakeLists.txt
  GMAO_psas/Makefile
  GMAO_psas/amatch.f
  GMAO_psas/cg1_solve.F90
  GMAO_psas/cgnorm.f
  GMAO_psas/lstins.f
  GMAO_psas/m_GetAI.F90
  GMAO_psas/obstat.f
  GMAO_psas/rdkttbl.f
  GMAO_psas/rdkxtbl.f
  GMAO_psas/rdlevels.f
  GMAO_psas/rdoetbl.f
  GMAO_psas/rdvctbl.f90
  GMAO_psas/savemat1.F
  GMAO_psas/savematx.F
  GMAO_psas/savevect.F
  GMAO_transf/CMakeLists.txt
Owners: @GEOS-ESM/cmake-team, @GEOS-ESM/adas-gatekeepers, @GEOS-ESM/gcm-gatekeepers

optional IVARINT 2 snow brightbanding enhancement
  GEOS_Shared/calcdbz.F
Owners: @GEOS-ESM/adas-gatekeepers, @GEOS-ESM/gcm-gatekeepers, @GEOS-ESM/land-team

update second.f to modern CPU_time
  arpack/UTIL/second.f
Owners: @GEOS-ESM/adas-gatekeepers, @GEOS-ESM/gcm-gatekeepers

SFE26: lots of changes for otpimizing the code and OpenMP and reflectivity updates, as well as slight recoding for Bergeron
  GEOS_Shared/CMakeLists.txt
  GEOS_Shared/calcdbz.F
Owners: @GEOS-ESM/cmake-team, @GEOS-ESM/adas-gatekeepers, @GEOS-ESM/gcm-gatekeepers, @GEOS-ESM/land-team

added updated modern radar reflectivity code
  GEOS_Shared/compute_radar_reflectivity.F90
Owners: @GEOS-ESM/adas-gatekeepers, @GEOS-ESM/gcm-gatekeepers, @GEOS-ESM/land-team

gs6150 test in GMAO_utils.pm
  GMAO_etc/GMAO_utils.pm
Owners: @GEOS-ESM/adas-gatekeepers, @GEOS-ESM/gcm-gatekeepers

GEOS_MLT_v3
  GMAO_hermes/m_set_eta.F90
Owners: @GEOS-ESM/adas-gatekeepers, @GEOS-ESM/gcm-gatekeepers

Port OVP.F90 off MAPL_GenericMod to MAPL3
  GEOS_Shared/CMakeLists.txt
  GEOS_Shared/OVP.F90
Owners: @GEOS-ESM/cmake-team, @GEOS-ESM/adas-gatekeepers, @GEOS-ESM/gcm-gatekeepers, @GEOS-ESM/land-team

Fix OVP.F90: add explicit use MAPLBase_mod for symbols not in mapl3g
  GEOS_Shared/OVP.F90
Owners: @GEOS-ESM/adas-gatekeepers, @GEOS-ESM/gcm-gatekeepers, @GEOS-ESM/land-team

Update spack CI
  .github/workflows/workflow.yml
Owners: @GEOS-ESM/cmake-team

Migrate use MAPL2 to use MAPL in GEOS_Shared; add use MAPL2 only: for symbols not yet in MAPL3 (#420)
  GEOS_Shared/G3_MPI_Util_Mod.F90
  GEOS_Shared/GEOS_TopoGet.F90
  GEOS_Shared/atmOceanIntLayer.F90
  GEOS_Shared/condense.F90
  GEOS_Shared/surfacelayer.F90
  GEOS_Shared/tropovars.F90
  GEOS_Shared/windfix.F90
Owners: @GEOS-ESM/adas-gatekeepers, @GEOS-ESM/gcm-gatekeepers, @GEOS-ESM/land-team

Add only: clauses to use MAPL; migrate GEOS_TopoGet to ESMF_HConfig (#420)
  GEOS_Shared/G3_MPI_Util_Mod.F90
  GEOS_Shared/GEOS_TopoGet.F90
  GEOS_Shared/atmOceanIntLayer.F90
  GEOS_Shared/surfacelayer.F90
  GEOS_Shared/tropovars.F90
Owners: @GEOS-ESM/adas-gatekeepers, @GEOS-ESM/gcm-gatekeepers, @GEOS-ESM/land-team

Add CHANGELOG entry for GEOS_TopoGet MAPL2 migration
  CHANGELOG.md
Owners: @GEOS-ESM/adas-gatekeepers, @GEOS-ESM/gcm-gatekeepers

OVP.F90: get MAPL_AM_I_ROOT and MAPL_PI_R8 from MAPL (MAPL3)
  GEOS_Shared/OVP.F90
Owners: @GEOS-ESM/adas-gatekeepers, @GEOS-ESM/gcm-gatekeepers, @GEOS-ESM/land-team

Fix NAG compiler issues in GMAO_Shared
  GEOS_Shared/windfix.F90
  GMAO_mpeu/CMakeLists.txt
  GMAO_mpeu/m_ioutil.F90
  GMAO_mpeu/mpi0/mpi0_copy.F90
Owners: @GEOS-ESM/adas-gatekeepers, @GEOS-ESM/gcm-gatekeepers, @GEOS-ESM/land-team, @GEOS-ESM/cmake-team
