Repository GEOS-ESM/GMAO_Shared, changes with the owners that .github/CODEOWNERS names for each.
All owners: @GEOS-ESM/adas-gatekeepers, @GEOS-ESM/gcm-gatekeepers, @GEOS-ESM/cmake-team, @GEOS-ESM/land-team, @GEOS-ESM/seaice-team

.github/CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.
# Order is important; the last matching pattern takes the most
# precedence.

# Inform both ADAS and GCM Gatekeepers on changes
# This could get more specific over time
* @GEOS-ESM/adas-gatekeepers @GEOS-ESM/gcm-gatekeepers

# Cmake team manages the circleci and github dirs
/.circleci/ @GEOS-ESM/cmake-team
/.github/   @GEOS-ESM/cmake-team

# GEOS_Shared has files that the GCM and Land Team care about
/GEOS_Shared/ @GEOS-ESM/adas-gatekeepers @GEOS-ESM/gcm-gatekeepers @GEOS-ESM/land-team

# LANL_Shared is seaice territory
/LANL_Shared/ @GEOS-ESM/adas-gatekeepers @GEOS-ESM/gcm-gatekeepers @GEOS-ESM/seaice-team

# The GEOS CMake Team should also see CMakeLists.txt files in this repository
CMakeLists.txt @GEOS-ESM/cmake-team @GEOS-ESM/adas-gatekeepers @GEOS-ESM/gcm-gatekeepers

Fix up CI
  .circleci/config.yml
  .github/workflows/spack-ci.yml
  .github/workflows/validate_yaml_files.yml
  .github/workflows/workflow.yml
Owners: @GEOS-ESM/cmake-team

Update changelog
  CHANGELOG.md
Owners: @GEOS-ESM/adas-gatekeepers, @GEOS-ESM/gcm-gatekeepers

Update pyrob with fixes and enhancements
  CHANGELOG.md
  GMAO_etc/pyrob
Owners: @GEOS-ESM/adas-gatekeepers, @GEOS-ESM/gcm-gatekeepers

Fix yaml
  .github/workflows/workflow.yml
Owners: @GEOS-ESM/cmake-team

Support for Cray MPICH
  GMAO_etc/esma_mpirun
Owners: @GEOS-ESM/adas-gatekeepers, @GEOS-ESM/gcm-gatekeepers

Update changelog
  CHANGELOG.md
Owners: @GEOS-ESM/adas-gatekeepers, @GEOS-ESM/gcm-gatekeepers

Add Level for GEOS-MLT
  GMAO_hermes/m_set_eta.F90
Owners: @GEOS-ESM/adas-gatekeepers, @GEOS-ESM/gcm-gatekeepers

Change vector declarations in sphere.F to satisfy GNU compiler Debug option
  GEOS_Shared/sphere.F
Owners: @GEOS-ESM/adas-gatekeepers, @GEOS-ESM/gcm-gatekeepers, @GEOS-ESM/land-team

changelog
  CHANGELOG.md
Owners: @GEOS-ESM/adas-gatekeepers, @GEOS-ESM/gcm-gatekeepers

Support for Cray MPICH (#397)
  CHANGELOG.md
  GMAO_etc/esma_mpirun
Owners: @GEOS-ESM/adas-gatekeepers, @GEOS-ESM/gcm-gatekeepers

Update changelog for 2.1.5 release
  CHANGELOG.md
Owners: @GEOS-ESM/adas-gatekeepers, @GEOS-ESM/gcm-gatekeepers

v12: Merge main, update CI
  .circleci/config.yml
  .github/workflows/workflow.yml
Owners: @GEOS-ESM/cmake-team

Update CHANGELOG.md
  CHANGELOG.md
Owners: @GEOS-ESM/adas-gatekeepers, @GEOS-ESM/gcm-gatekeepers

Minor fixes; GEOS-MLT eta
  GMAO_etc/r_dist
  GMAO_hermes/CMakeLists.txt
  GMAO_hermes/eta_echo.f90
  GMAO_hermes/m_nc_akbk.f90
  GMAO_hermes/m_set_eta.F90
  GMAO_ods/ods_diagnc4.f90
Owners: @GEOS-ESM/adas-gatekeepers, @GEOS-ESM/gcm-gatekeepers, @GEOS-ESM/cmake-team

explain
  CHANGELOG.md
Owners: @GEOS-ESM/adas-gatekeepers, @GEOS-ESM/gcm-gatekeepers

Minor fixes; GEOS-MLT eta (#404)
  CHANGELOG.md
  GMAO_etc/r_dist
  GMAO_hermes/CMakeLists.txt
  GMAO_hermes/eta_echo.f90
  GMAO_hermes/m_nc_akbk.f90
  GMAO_hermes/m_set_eta.F90
  GMAO_ods/ods_diagnc4.f90
Owners: @GEOS-ESM/adas-gatekeepers, @GEOS-ESM/gcm-gatekeepers, @GEOS-ESM/cmake-team

for VIIRS
  CHANGELOG.md
  GMAO_etc/setup_gaas_obs.pl
  GMAO_ods/kx_list.rc
  GMAO_ods/pyods/odsreader.py
  GMAO_ods/pyods_.F90
Owners: @GEOS-ESM/adas-gatekeepers, @GEOS-ESM/gcm-gatekeepers

move to AeroML
  GMAO_etc/setup_gaas_obs.pl
Owners: @GEOS-ESM/adas-gatekeepers, @GEOS-ESM/gcm-gatekeepers

explain
  CHANGELOG.md
Owners: @GEOS-ESM/adas-gatekeepers, @GEOS-ESM/gcm-gatekeepers

Feature/fixes4viirs (#405)
  CHANGELOG.md
  GMAO_etc/setup_gaas_obs.pl
  GMAO_ods/kx_list.rc
  GMAO_ods/pyods/odsreader.py
  GMAO_ods/pyods_.F90
Owners: @GEOS-ESM/adas-gatekeepers, @GEOS-ESM/gcm-gatekeepers

Add 150km and 210km levels to GEOS
  GMAO_hermes/m_set_eta.F90
Owners: @GEOS-ESM/adas-gatekeepers, @GEOS-ESM/gcm-gatekeepers

Fix for Open MPI 5
  CHANGELOG.md
  GMAO_etc/esma_mpirun
Owners: @GEOS-ESM/adas-gatekeepers, @GEOS-ESM/gcm-gatekeepers

Fix for Open MPI 5
  GMAO_etc/esma_mpirun
Owners: @GEOS-ESM/adas-gatekeepers, @GEOS-ESM/gcm-gatekeepers

Fix the fix
  GMAO_etc/esma_mpirun
Owners: @GEOS-ESM/adas-gatekeepers, @GEOS-ESM/gcm-gatekeepers

Fix the openmpi5 fix
  GMAO_etc/esma_mpirun
Owners: @GEOS-ESM/adas-gatekeepers, @GEOS-ESM/gcm-gatekeepers

v12: Fixes for Flang 22
  GMAO_mpeu/m_random.F
Owners: @GEOS-ESM/adas-gatekeepers, @GEOS-ESM/gcm-gatekeepers

feature: use LongName for FP collection descriptions in pyrob
  CHANGELOG.md
  GMAO_etc/pyrob
Owners: @GEOS-ESM/adas-gatekeepers, @GEOS-ESM/gcm-gatekeepers

Add ABI kx info
  GMAO_ods/kx_register.tbl
  GMAO_ods/odsmeta.h
  GMAO_ods/odsstats.rc
  GMAO_ods/odsstats4jedi.rc
  GMAO_ods/radiance-kx.readme
Owners: @GEOS-ESM/adas-gatekeepers, @GEOS-ESM/gcm-gatekeepers

explain
  CHANGELOG.md
Owners: @GEOS-ESM/adas-gatekeepers, @GEOS-ESM/gcm-gatekeepers

Updates for MAPL3: Move to MAPL_Constants
  GEOS_Shared/DragCoefficients.F90
  GEOS_Shared/GEOS_Utilities.F90
  GEOS_Shared/windfix.F90
  GMAO_hermes/lcv2prs.F90
  LANL_Shared/CICE4/drivers/cice4/ice_constants.F90
Owners: @GEOS-ESM/adas-gatekeepers, @GEOS-ESM/gcm-gatekeepers, @GEOS-ESM/land-team, @GEOS-ESM/seaice-team

Build only GEOS_Shared on release/MAPL-v3
  CMakeLists.txt
Owners: @GEOS-ESM/cmake-team, @GEOS-ESM/adas-gatekeepers, @GEOS-ESM/gcm-gatekeepers

Add GMAO_hermes (HERMES_LIGHT) for m_set_eta needed by FVdycoreCubed
  CMakeLists.txt
Owners: @GEOS-ESM/cmake-team, @GEOS-ESM/adas-gatekeepers, @GEOS-ESM/gcm-gatekeepers

Replace m_realkinds with iso_fortran_env in m_set_eta.F90
  GMAO_hermes/m_set_eta.F90
Owners: @GEOS-ESM/adas-gatekeepers, @GEOS-ESM/gcm-gatekeepers

Restore full GMAO_Shared build on release/MAPL-v3
  CMakeLists.txt
  GMAO_hermes/m_set_eta.F90
Owners: @GEOS-ESM/cmake-team, @GEOS-ESM/adas-gatekeepers, @GEOS-ESM/gcm-gatekeepers

Restrict GMAO_Shared to HERMES_LIGHT on release/MAPL-v3
  CMakeLists.txt
  GMAO_hermes/CMakeLists.txt
Owners: @GEOS-ESM/cmake-team, @GEOS-ESM/adas-gatekeepers, @GEOS-ESM/gcm-gatekeepers

Replace 'use MAPL' with 'use MAPL2' and add MAPL2 CMake dependency in GEOS_Shared
  GEOS_Shared/CMakeLists.txt
  GEOS_Shared/G3_MPI_Util_Mod.F90
  GEOS_Shared/GEOS_TopoGet.F90
  GEOS_Shared/OVP.F90
  GEOS_Shared/atmOceanIntLayer.F90
  GEOS_Shared/condense.F90
  GEOS_Shared/surfacelayer.F90
  GEOS_Shared/tropovars.F90
  GEOS_Shared/windfix.F90
Owners: @GEOS-ESM/cmake-team, @GEOS-ESM/adas-gatekeepers, @GEOS-ESM/gcm-gatekeepers, @GEOS-ESM/land-team

Fix up CI
  .circleci/config.yml
  .github/workflows/workflow.yml
Owners: @GEOS-ESM/cmake-team

Fix up circleci
  .circleci/config.yml
Owners: @GEOS-ESM/cmake-team

Some of the MAPL2 to MAPL3 changes. Buidls all of GCM but needs to do a test run
  GEOS_Shared/CMakeLists.txt
  GEOS_Shared/G3_MPI_Util_Mod.F90
  GEOS_Shared/GEOS.F90
  GEOS_Shared/GEOS_TopoGet.F90
  GEOS_Shared/OVP.F90
  GEOS_Shared/atmOceanIntLayer.F90
  GEOS_Shared/condense.F90
  GEOS_Shared/surfacelayer.F90
  GEOS_Shared/tropovars.F90
  GEOS_Shared/windfix.F90
  GMAO_stoch/initialize.F90
  GMAO_stoch/stoch_ll2cc_stubs.F90
  GMAO_stoch/stoch_module.F90
  GMAO_stoch/stochmain.f90
  GMAO_stoch/stochprog.F90
Owners: @GEOS-ESM/cmake-team, @GEOS-ESM/adas-gatekeepers, @GEOS-ESM/gcm-gatekeepers, @GEOS-ESM/land-team

Additinal MAPL2 to 3 changes 
  GEOS_Shared/GEOS.F90
  GMAO_stoch/stoch_ll2cc_stubs.F90
  GMAO_stoch/stoch_module.F90
  GMAO_stoch/stochmain.f90
  LANL_Shared/CICE4/source/ice_itd.F90
Owners: @GEOS-ESM/adas-gatekeepers, @GEOS-ESM/gcm-gatekeepers, @GEOS-ESM/land-team, @GEOS-ESM/seaice-team
