Repository GEOS-ESM/GMAO_Shared, changes with the owners that .github/CODEOWNERS names for each.
All owners: @GEOS-ESM/adas-gatekeepers, @GEOS-ESM/gcm-gatekeepers, @GEOS-ESM/cmake-team, @GEOS-ESM/land-team, @GEOS-ESM/seaice-team

.github/CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.
# Order is important; the last matching pattern takes the most
# precedence.

# Inform both ADAS and GCM Gatekeepers on changes
# This could get more specific over time
* @GEOS-ESM/adas-gatekeepers @GEOS-ESM/gcm-gatekeepers

# Cmake team manages the circleci and github dirs
/.circleci/ @GEOS-ESM/cmake-team
/.github/   @GEOS-ESM/cmake-team

# GEOS_Shared has files that the GCM and Land Team care about
/GEOS_Shared/ @GEOS-ESM/adas-gatekeepers @GEOS-ESM/gcm-gatekeepers @GEOS-ESM/land-team

# LANL_Shared is seaice territory
/LANL_Shared/ @GEOS-ESM/adas-gatekeepers @GEOS-ESM/gcm-gatekeepers @GEOS-ESM/seaice-team

# The GEOS CMake Team should also see CMakeLists.txt files in this repository
CMakeLists.txt @GEOS-ESM/cmake-team @GEOS-ESM/adas-gatekeepers @GEOS-ESM/gcm-gatekeepers

Update CHANGELOG.md
  CHANGELOG.md
Owners: @GEOS-ESM/adas-gatekeepers, @GEOS-ESM/gcm-gatekeepers

Update CI to Intel 2024.1
  .circleci/config.yml
Owners: @GEOS-ESM/cmake-team

Update changelog
  CHANGELOG.md
Owners: @GEOS-ESM/adas-gatekeepers, @GEOS-ESM/gcm-gatekeepers

Only do coupled with Intel
  .circleci/config.yml
Owners: @GEOS-ESM/cmake-team

Move to use Intel 2021.11
  .circleci/config.yml
Owners: @GEOS-ESM/cmake-team

minor changes/additions for jedi-support; saber-obs moved out to App of its own
  GMAO_hermes/CMakeLists.txt
  GMAO_hermes/dyn_jediupd.f90
  GMAO_hermes/m_maph_pert.F90
  GMAO_hermes/m_nc_JEDIinc.f90
  GMAO_ods/CMakeLists.txt
  GMAO_ods/m_saber.f
  GMAO_ods/obimp_summary.pl
  GMAO_ods/odsmeta.h
  GMAO_ods/odsselect.f
  GMAO_ods/odsstats.f
  GMAO_ods/odsstats4jedi.rc
  GMAO_ods/saber2ods.f
Owners: @GEOS-ESM/cmake-team, @GEOS-ESM/adas-gatekeepers, @GEOS-ESM/gcm-gatekeepers

Updates needed to run GEOSadas5.29.4-p3 on SLES15 at NCCS
  GMAO_etc/esma_mpirun
Owners: @GEOS-ESM/adas-gatekeepers, @GEOS-ESM/gcm-gatekeepers

One more SLES15 fix
  GMAO_ncdiag/nc_diag_cat/netcdf_unlimdims.F90
Owners: @GEOS-ESM/adas-gatekeepers, @GEOS-ESM/gcm-gatekeepers

Updates for R21C for SLES15 on NCCS
  GMAO_etc/esma_mpirun
Owners: @GEOS-ESM/adas-gatekeepers, @GEOS-ESM/gcm-gatekeepers

commit changes for pbl
  GMAO_etc/obsys-nccs-r21c.rc.orig
  GMAO_gfio/gfio.f.orig
  GMAO_hermes/dyn_iupd.F90.1st
  GMAO_hermes/dyn_iupd.F90.orig
  GMAO_hermes/dyn_iupd.F90.orig2
  GMAO_hermes/dynp.f90.orig
  GMAO_hermes/dynp.f90.orig2
  GMAO_hermes/m_dyn.f90.1st
  GMAO_hermes/m_dyn.f90.all
  GMAO_hermes/m_dyn.f90.orig
  GMAO_hermes/m_dyn.f90.orig2
  GMAO_hermes/m_dyn.f90.orig3
  GMAO_hermes/m_dynp.F90.1st
  GMAO_hermes/m_dynp.F90.orig
Owners: @GEOS-ESM/adas-gatekeepers, @GEOS-ESM/gcm-gatekeepers

Fixes for Intel 2024.2
  CHANGELOG.md
  GMAO_ods/ods_diagnc4.f90
  GMAO_pyobs/VegType_io.c
Owners: @GEOS-ESM/adas-gatekeepers, @GEOS-ESM/gcm-gatekeepers

Use dot
  GMAO_ods/ods_diagnc4.f90
Owners: @GEOS-ESM/adas-gatekeepers, @GEOS-ESM/gcm-gatekeepers

added more protections on QSAT tables
  GEOS_Shared/GEOS_Utilities.F90
Owners: @GEOS-ESM/adas-gatekeepers, @GEOS-ESM/gcm-gatekeepers, @GEOS-ESM/land-team

Update changelog for 1.9.8 release
  CHANGELOG.md
Owners: @GEOS-ESM/adas-gatekeepers, @GEOS-ESM/gcm-gatekeepers

Update n4zip to fix deprecated option
  CHANGELOG.md
  GMAO_etc/n4zip
Owners: @GEOS-ESM/adas-gatekeepers, @GEOS-ESM/gcm-gatekeepers

Update ESMF CMake target to ESMF::ESMF
  GEOS_Shared/CMakeLists.txt
  GMAO_stoch/CMakeLists.txt
Owners: @GEOS-ESM/cmake-team, @GEOS-ESM/adas-gatekeepers, @GEOS-ESM/gcm-gatekeepers

Update changelog
  CHANGELOG.md
Owners: @GEOS-ESM/adas-gatekeepers, @GEOS-ESM/gcm-gatekeepers

more protections on bounds for QSAT tables
  GEOS_Shared/qsat_fast.code
  GEOS_Shared/qsat_new.code
  GEOS_Shared/qsatice.code
  GEOS_Shared/qsatlqu.code
Owners: @GEOS-ESM/adas-gatekeepers, @GEOS-ESM/gcm-gatekeepers, @GEOS-ESM/land-team

added L186 extended model top
  GMAO_hermes/m_set_eta.F90
Owners: @GEOS-ESM/adas-gatekeepers, @GEOS-ESM/gcm-gatekeepers

gcc14: Add int to main in makdep.c
  LANL_Shared/CICE4/bld/makdep.c
Owners: @GEOS-ESM/adas-gatekeepers, @GEOS-ESM/gcm-gatekeepers, @GEOS-ESM/seaice-team

Update changelog
  CHANGELOG.md
Owners: @GEOS-ESM/adas-gatekeepers, @GEOS-ESM/gcm-gatekeepers

minor changes for Milan
  GMAO_etc/Perl_Config.pm
  GMAO_etc/dateutils.py
  GMAO_etc/nmlread.py
  GMAO_etc/parallel-untar.py
  GMAO_etc/pesto
  GMAO_etc/randates.py
  GMAO_etc/require_obsys.pl
  GMAO_etc/vED
Owners: @GEOS-ESM/adas-gatekeepers, @GEOS-ESM/gcm-gatekeepers

Update changelog for 1.9.9 release
  CHANGELOG.md
  CMakeLists.txt
Owners: @GEOS-ESM/adas-gatekeepers, @GEOS-ESM/gcm-gatekeepers, @GEOS-ESM/cmake-team

now live in GMAO_mksi
  GMAO_etc/obsys-nas-gaas.rc
  GMAO_etc/obsys-nas-merra2.rc
  GMAO_etc/obsys-nas.rc
  GMAO_etc/obsys-nccs-arc.rc
  GMAO_etc/obsys-nccs-gaas-geosit.rc
  GMAO_etc/obsys-nccs-gaas-r21c.rc
  GMAO_etc/obsys-nccs-gaas.rc
  GMAO_etc/obsys-nccs-geosit.rc
  GMAO_etc/obsys-nccs-merra2.rc
  GMAO_etc/obsys-nccs-r21c.rc
  GMAO_etc/obsys-nccs.rc
  GMAO_etc/obsys-ncep.rc
Owners: @GEOS-ESM/adas-gatekeepers, @GEOS-ESM/gcm-gatekeepers

Update NRT instrument outages + add PlanetIQ and GEOoptics RO
  GMAO_ods/odsmatch.rc
Owners: @GEOS-ESM/adas-gatekeepers, @GEOS-ESM/gcm-gatekeepers

these started giving trouble after a number of cycles - something is going on that I do not fully understand yet
  GMAO_etc/extract_pre-qc.pl
  GMAO_etc/vED
Owners: @GEOS-ESM/adas-gatekeepers, @GEOS-ESM/gcm-gatekeepers

another one of those odd changes now for perl
  GMAO_etc/vED
Owners: @GEOS-ESM/adas-gatekeepers, @GEOS-ESM/gcm-gatekeepers

General handle for GMAO-preqc bfr files
  GMAO_etc/obsys-nccs-r21c.rc
Owners: @GEOS-ESM/adas-gatekeepers, @GEOS-ESM/gcm-gatekeepers

fix typo
  GMAO_etc/obsys-nccs-r21c.rc
Owners: @GEOS-ESM/adas-gatekeepers, @GEOS-ESM/gcm-gatekeepers

explain
  CHANGELOG.md
Owners: @GEOS-ESM/adas-gatekeepers, @GEOS-ESM/gcm-gatekeepers

General handling of GMAO-preqc files (#358)
  CHANGELOG.md
  GMAO_etc/obsys-nccs-r21c.rc
Owners: @GEOS-ESM/adas-gatekeepers, @GEOS-ESM/gcm-gatekeepers

Update GitHub Actions
  .github/workflows/validate_yaml_files.yml
Owners: @GEOS-ESM/cmake-team

swap gmao w/ that in separate repo
  .gitignore
Owners: @GEOS-ESM/adas-gatekeepers, @GEOS-ESM/gcm-gatekeepers

changes for milan
  GMAO_etc/Perl_Config.pm
  GMAO_etc/Remote_utils.pm
  GMAO_etc/WriteLog.pm
  GMAO_etc/dateutils.py
  GMAO_etc/esma_mpirun
  GMAO_etc/nmlread.py
  GMAO_etc/parallel-untar.py
  GMAO_etc/pesto
  GMAO_etc/pyrob
  GMAO_etc/pyrob_CF
  GMAO_etc/randates.py
  GMAO_etc/require_obsys.pl
  GMAO_etc/vED
  GMAO_gfio/CMakeLists.txt
  GMAO_gfio/gfio.py
Owners: @GEOS-ESM/adas-gatekeepers, @GEOS-ESM/gcm-gatekeepers, @GEOS-ESM/cmake-team

comments on changes
  CHANGELOG.md
Owners: @GEOS-ESM/adas-gatekeepers, @GEOS-ESM/gcm-gatekeepers

move acquire and its dependences to GMAO_perlib for JEDI/SWELL purpuses
  GMAO_etc/CMakeLists.txt
  GMAO_perllib/CMakeLists.txt
  GMAO_perllib/Err_Log.pl
  GMAO_perllib/Err_Log.pm
  GMAO_perllib/Extract_config.pm
  GMAO_perllib/Manipulate_time.pm
  GMAO_perllib/Remote_utils.pm
  GMAO_perllib/acquire
  GMAO_perllib/acquire_obsys
  GMAO_perllib/fndate.pl
Owners: @GEOS-ESM/cmake-team, @GEOS-ESM/adas-gatekeepers, @GEOS-ESM/gcm-gatekeepers

trying to config
  GMAO_etc/CMakeLists.txt
  GMAO_perllib/CMakeLists.txt
Owners: @GEOS-ESM/cmake-team, @GEOS-ESM/adas-gatekeepers, @GEOS-ESM/gcm-gatekeepers

minor reordering
  GMAO_perllib/CMakeLists.txt
Owners: @GEOS-ESM/cmake-team, @GEOS-ESM/adas-gatekeepers, @GEOS-ESM/gcm-gatekeepers

increase aircraft max tail, turn on GOES18, add avhrr to pcscaling
  GMAO_ods/odsmatch.rc
Owners: @GEOS-ESM/adas-gatekeepers, @GEOS-ESM/gcm-gatekeepers

Update changelog enforcer
  .github/workflows/changelog-enforcer.yml
Owners: @GEOS-ESM/cmake-team
