Repository GEOS-ESM/GMAO_Shared, changes with the owners that .github/CODEOWNERS names for each.
All owners: @GEOS-ESM/adas-gatekeepers, @GEOS-ESM/gcm-gatekeepers, @GEOS-ESM/cmake-team, @GEOS-ESM/land-team, @GEOS-ESM/seaice-team

.github/CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.
# Order is important; the last matching pattern takes the most
# precedence.

# Inform both ADAS and GCM Gatekeepers on changes
# This could get more specific over time
* @GEOS-ESM/adas-gatekeepers @GEOS-ESM/gcm-gatekeepers

# Cmake team manages the circleci and github dirs
/.circleci/ @GEOS-ESM/cmake-team
/.github/   @GEOS-ESM/cmake-team

# GEOS_Shared has files that the GCM and Land Team care about
/GEOS_Shared/ @GEOS-ESM/adas-gatekeepers @GEOS-ESM/gcm-gatekeepers @GEOS-ESM/land-team

# LANL_Shared is seaice territory
/LANL_Shared/ @GEOS-ESM/adas-gatekeepers @GEOS-ESM/gcm-gatekeepers @GEOS-ESM/seaice-team

# The GEOS CMake Team should also see CMakeLists.txt files in this repository
CMakeLists.txt @GEOS-ESM/cmake-team @GEOS-ESM/adas-gatekeepers @GEOS-ESM/gcm-gatekeepers

Update CHANGELOG.md
  CHANGELOG.md
Owners: @GEOS-ESM/adas-gatekeepers, @GEOS-ESM/gcm-gatekeepers

bypass dir gmao_perllib; using repo instead
  .gitignore
Owners: @GEOS-ESM/adas-gatekeepers, @GEOS-ESM/gcm-gatekeepers

needed for AOD analysis to work properly
  GMAO_ods/CMakeLists.txt
  GMAO_ods/pyods/__init__.py
Owners: @GEOS-ESM/cmake-team, @GEOS-ESM/adas-gatekeepers, @GEOS-ESM/gcm-gatekeepers

record changes
  CHANGELOG.md
Owners: @GEOS-ESM/adas-gatekeepers, @GEOS-ESM/gcm-gatekeepers

Needed for AOD analysis to work properly (#363)
  CHANGELOG.md
  GMAO_ods/CMakeLists.txt
  GMAO_ods/pyods/__init__.py
Owners: @GEOS-ESM/adas-gatekeepers, @GEOS-ESM/gcm-gatekeepers, @GEOS-ESM/cmake-team

Updates needed for GEOSadas 5.29.5-p7 on SLES15
  CHANGELOG.md
  GMAO_ncdiag/nc_diag_cat/netcdf_unlimdims.F90
Owners: @GEOS-ESM/adas-gatekeepers, @GEOS-ESM/gcm-gatekeepers

update g5_modules_perl_wrapper script to remove loadmodules option from call to g5_modules
  GMAO_etc/g5_modules_perl_wrapper
Owners: @GEOS-ESM/adas-gatekeepers, @GEOS-ESM/gcm-gatekeepers

Modified the expand function in Perl_Config.pm so that environment variables will be correctly expanded in the string if the variables are defined.
  GMAO_etc/Perl_Config.pm
Owners: @GEOS-ESM/adas-gatekeepers, @GEOS-ESM/gcm-gatekeepers

Bugfix/jstassi/#364 g5 modules perl wrapper (#365)
  GMAO_etc/Perl_Config.pm
  GMAO_etc/g5_modules_perl_wrapper
Owners: @GEOS-ESM/adas-gatekeepers, @GEOS-ESM/gcm-gatekeepers

Fixed another typo when changing "{" to "\{"
  GMAO_etc/Perl_Config.pm
Owners: @GEOS-ESM/adas-gatekeepers, @GEOS-ESM/gcm-gatekeepers

modify GMAO_ncdiag to allow gfortran-13 to build
  GMAO_ncdiag/nc_diag_cat/nc_diag_cat.F90
  GMAO_ncdiag/nc_diag_cat/ncdc_climsg.F90
  GMAO_ncdiag/nc_diag_cat/ncdc_realloc.F90
  GMAO_ncdiag/nc_diag_write/nc_diag_write_mod.F90
  GMAO_ncdiag/nc_diag_write/ncdw_chaninfo.F90
  GMAO_ncdiag/nc_diag_write/ncdw_data2d.F90
  GMAO_ncdiag/nc_diag_write/ncdw_metadata.F90
Owners: @GEOS-ESM/adas-gatekeepers, @GEOS-ESM/gcm-gatekeepers

GMAO_ods/CMakeLists.txt: depends
  GMAO_ods/CMakeLists.txt
Owners: @GEOS-ESM/cmake-team, @GEOS-ESM/adas-gatekeepers, @GEOS-ESM/gcm-gatekeepers

SOURCE -> DEPENDS in CMakeLists.txt (ods)
  GMAO_ods/CMakeLists.txt
Owners: @GEOS-ESM/cmake-team, @GEOS-ESM/adas-gatekeepers, @GEOS-ESM/gcm-gatekeepers

Updates for GEOSadas 5.29.5 on SLES15
  CHANGELOG.md
  GMAO_ncdiag/nc_diag_cat/netcdf_unlimdims.F90
Owners: @GEOS-ESM/adas-gatekeepers, @GEOS-ESM/gcm-gatekeepers

minor fix for perl on Milan
  GMAO_etc/Perl_Config.pm
Owners: @GEOS-ESM/adas-gatekeepers, @GEOS-ESM/gcm-gatekeepers

xm was not being filled in and causing bad numbers to appear in output
  GMAO_ods/ods_dsbuv.f
Owners: @GEOS-ESM/adas-gatekeepers, @GEOS-ESM/gcm-gatekeepers

now handles case of same resolution in increment and background
  GMAO_hermes/dyn_jediupd.f90
Owners: @GEOS-ESM/adas-gatekeepers, @GEOS-ESM/gcm-gatekeepers

In Perl_Config.pm: Fixed the perl left/right brace matching problem. The right brace now needs to be escaped similar to the left brace.
  GMAO_etc/Perl_Config.pm
Owners: @GEOS-ESM/adas-gatekeepers, @GEOS-ESM/gcm-gatekeepers

Update to orb v4
  .circleci/config.yml
  .github/workflows/enforce-labels.yml
  .github/workflows/validate_yaml_files.yml
Owners: @GEOS-ESM/cmake-team

Test Perl Critic
  .github/workflows/perlcritic.yml
Owners: @GEOS-ESM/cmake-team

Try again?
  .github/workflows/perlcritic.yml
Owners: @GEOS-ESM/cmake-team

Try gugod
  .github/workflows/perlcritic.yml
  .perlcriticrc
Owners: @GEOS-ESM/cmake-team, @GEOS-ESM/adas-gatekeepers, @GEOS-ESM/gcm-gatekeepers

Modified to correct for the SLES-15 perl left/right brace matching error.
  GMAO_etc/Perl_Config.pm
  GMAO_etc/vED
Owners: @GEOS-ESM/adas-gatekeepers, @GEOS-ESM/gcm-gatekeepers

Fix up CI
  .circleci/config.yml
  .github/workflows/enforce-labels.yml
  .github/workflows/validate_yaml_files.yml
Owners: @GEOS-ESM/cmake-team

vED: modified to correct perl left/right brace issue with SLES-15.
  GMAO_etc/vED
Owners: @GEOS-ESM/adas-gatekeepers, @GEOS-ESM/gcm-gatekeepers

Added comment for Perl_Config.pm and vED updates.
  CHANGELOG.md
Owners: @GEOS-ESM/adas-gatekeepers, @GEOS-ESM/gcm-gatekeepers

Minor edit to trigger CI
  CHANGELOG.md
Owners: @GEOS-ESM/adas-gatekeepers, @GEOS-ESM/gcm-gatekeepers

updates GEOS-IT files to ensure reproducibility of retrospective period
  GMAO_etc/obsys-nccs-gaas-geosit.rc
  GMAO_etc/obsys-nccs-geosit.rc
Owners: @GEOS-ESM/adas-gatekeepers, @GEOS-ESM/gcm-gatekeepers

changes for SLES15
  GMAO_etc/check_obsysrc.py
  GMAO_etc/dateutils.py
  GMAO_etc/nmlread.py
  GMAO_etc/obsys-nccs-gaas-geosit.rc
  GMAO_etc/obsys-nccs-geosit.rc
  GMAO_etc/obsys_rc.py
  GMAO_etc/parallel-untar.py
  GMAO_etc/pesto
  GMAO_etc/randates.py
  GMAO_etc/require_obsys.pl
  GMAO_etc/vED
Owners: @GEOS-ESM/adas-gatekeepers, @GEOS-ESM/gcm-gatekeepers

need to one used in FP-sles15
  GMAO_etc/vED
Owners: @GEOS-ESM/adas-gatekeepers, @GEOS-ESM/gcm-gatekeepers

jedi and sles15 fixes
  CHANGELOG.md
  GMAO_etc/n4zip
  GMAO_etc/vED
Owners: @GEOS-ESM/adas-gatekeepers, @GEOS-ESM/gcm-gatekeepers

add comment
  CHANGELOG.md
Owners: @GEOS-ESM/adas-gatekeepers, @GEOS-ESM/gcm-gatekeepers

Updates from main
  .circleci/config.yml
  .github/workflows/changelog-enforcer.yml
  .github/workflows/enforce-labels.yml
  .github/workflows/validate_yaml_files.yml
  CHANGELOG.md
  GEOS_Shared/CMakeLists.txt
  GMAO_gfio/CMakeLists.txt
  GMAO_ods/ods_diagnc4.f90
  GMAO_stoch/CMakeLists.txt
  LANL_Shared/CICE4/bld/makdep.c
Owners: @GEOS-ESM/cmake-team, @GEOS-ESM/adas-gatekeepers, @GEOS-ESM/gcm-gatekeepers, @GEOS-ESM/seaice-team

Updates for MVAPICH4
  CHANGELOG.md
  GMAO_etc/esma_mpirun
Owners: @GEOS-ESM/adas-gatekeepers, @GEOS-ESM/gcm-gatekeepers

GMAO_transf uses libeu (not mpeu)
  GMAO_transf/CMakeLists.txt
  GMAO_transf/dyn_divo.F90
Owners: @GEOS-ESM/cmake-team, @GEOS-ESM/adas-gatekeepers, @GEOS-ESM/gcm-gatekeepers

Add Github Actions CI
  .github/workflows/spack-ci.yml
  .github/workflows/workflow.yml
  CHANGELOG.md
Owners: @GEOS-ESM/cmake-team, @GEOS-ESM/adas-gatekeepers, @GEOS-ESM/gcm-gatekeepers

these were failing under new SLES15 OS
  GMAO_etc/Perl_Config.pm
  GMAO_etc/WriteLog.pm
Owners: @GEOS-ESM/adas-gatekeepers, @GEOS-ESM/gcm-gatekeepers

Update CHANGELOG.md
  CHANGELOG.md
Owners: @GEOS-ESM/adas-gatekeepers, @GEOS-ESM/gcm-gatekeepers

Remove straggling GMAO_perllib
  GMAO_perllib/Err_Log.pl
  GMAO_perllib/Err_Log.pm
  GMAO_perllib/Extract_config.pm
  GMAO_perllib/Manipulate_time.pm
  GMAO_perllib/Remote_utils.pm
  GMAO_perllib/acquire
  GMAO_perllib/acquire_obsys
  GMAO_perllib/fndate.pl
Owners: @GEOS-ESM/adas-gatekeepers, @GEOS-ESM/gcm-gatekeepers

fix conflict of EU vs MPEU
  GMAO_hermes/dyn2dyn.f90
  GMAO_hermes/m_topo_remap.F90
  GMAO_transf/CMakeLists.txt
  GMAO_transf/dyn_divo.F90
Owners: @GEOS-ESM/adas-gatekeepers, @GEOS-ESM/gcm-gatekeepers, @GEOS-ESM/cmake-team
