Repository GEOS-ESM/GMAO_Shared, changes with the owners that .github/CODEOWNERS names for each.
All owners: @GEOS-ESM/adas-gatekeepers, @GEOS-ESM/gcm-gatekeepers, @GEOS-ESM/cmake-team, @GEOS-ESM/land-team, @GEOS-ESM/seaice-team

Update changelog for 2.0.0 release
  CHANGELOG.md
Owners: @GEOS-ESM/adas-gatekeepers, @GEOS-ESM/gcm-gatekeepers

Correct Changelog
  CHANGELOG.md
Owners: @GEOS-ESM/adas-gatekeepers, @GEOS-ESM/gcm-gatekeepers

allow dbz brightband on snow separate from graupel
  GEOS_Shared/calcdbz.F
Owners: @GEOS-ESM/adas-gatekeepers, @GEOS-ESM/gcm-gatekeepers, @GEOS-ESM/land-team

Update CI to use Baselibs 7.33.0
  .circleci/config.yml
  .github/workflows/workflow.yml
Owners: @GEOS-ESM/cmake-team

added 41 ML levels for PYMLINC
  GMAO_hermes/m_set_eta.F90
Owners: @GEOS-ESM/adas-gatekeepers, @GEOS-ESM/gcm-gatekeepers

Fix issue with unprotected f2py code
  .editorconfig
  CHANGELOG.md
  GMAO_gfio/CMakeLists.txt
Owners: @GEOS-ESM/adas-gatekeepers, @GEOS-ESM/gcm-gatekeepers, @GEOS-ESM/cmake-team

Update CI
  .circleci/config.yml
  .github/workflows/workflow.yml
Owners: @GEOS-ESM/cmake-team

Made GEOS_GmapMod::mappm_ public
  GEOS_Shared/GEOS_GmapMod.F90
Owners: @GEOS-ESM/adas-gatekeepers, @GEOS-ESM/gcm-gatekeepers, @GEOS-ESM/land-team

Fix for SLES-15
  GMAO_etc/r_dist
Owners: @GEOS-ESM/adas-gatekeepers, @GEOS-ESM/gcm-gatekeepers

Added info about r_dist update.
  CHANGELOG.md
Owners: @GEOS-ESM/adas-gatekeepers, @GEOS-ESM/gcm-gatekeepers

Add ocean observation scripts directory and initial files
  gmao2ioda/convert_gmao2ioda.bash
  gmao2ioda/gmao_obs2ioda.py
  gmao2ioda/ocean_das_config
  gmao2ioda/ocean_obs_4ioda.py
  gmao2ioda/ocean_obs_utils.py
  gmao2ioda/py_modules_310_li.sh
Owners: @GEOS-ESM/adas-gatekeepers, @GEOS-ESM/gcm-gatekeepers

Update CMake and Changelog
  CHANGELOG.md
  CMakeLists.txt
Owners: @GEOS-ESM/adas-gatekeepers, @GEOS-ESM/gcm-gatekeepers, @GEOS-ESM/cmake-team

Install to bin
  CMakeLists.txt
Owners: @GEOS-ESM/cmake-team, @GEOS-ESM/adas-gatekeepers, @GEOS-ESM/gcm-gatekeepers

commit changes for pblh da with a new model rwp_pblh
  GMAO_hermes/dyn_iupd.F90.orig
  GMAO_hermes/m_dyn.f90.orig
  GMAO_hermes/m_dynp.F90.orig
Owners: @GEOS-ESM/adas-gatekeepers, @GEOS-ESM/gcm-gatekeepers

Update CHANGELOG.md
  CHANGELOG.md
Owners: @GEOS-ESM/adas-gatekeepers, @GEOS-ESM/gcm-gatekeepers

Numerous updates to cmpdir.pl to improve its appearance and edit-ability
  GMAO_etc/cmpdir.pl
Owners: @GEOS-ESM/adas-gatekeepers, @GEOS-ESM/gcm-gatekeepers

Fix up spack ci
  .github/workflows/spack-ci.yml
Owners: @GEOS-ESM/cmake-team

Fixes #386. Only install gmao2ioda if it exists
  CMakeLists.txt
Owners: @GEOS-ESM/cmake-team, @GEOS-ESM/adas-gatekeepers, @GEOS-ESM/gcm-gatekeepers

Update changelog
  CHANGELOG.md
Owners: @GEOS-ESM/adas-gatekeepers, @GEOS-ESM/gcm-gatekeepers

Update changelog
  CHANGELOG.md
Owners: @GEOS-ESM/adas-gatekeepers, @GEOS-ESM/gcm-gatekeepers

Update changelog
  CHANGELOG.md
Owners: @GEOS-ESM/adas-gatekeepers, @GEOS-ESM/gcm-gatekeepers

Update openmpi in esma_mpirun
  CHANGELOG.md
  GMAO_etc/esma_mpirun
Owners: @GEOS-ESM/adas-gatekeepers, @GEOS-ESM/gcm-gatekeepers

add KX's for viirs and goes
  GMAO_ods/kx_list.rc
  GMAO_ods/pyods_.F90
Owners: @GEOS-ESM/adas-gatekeepers, @GEOS-ESM/gcm-gatekeepers

add an odsreader script that was in AeroApps
  GMAO_ods/pyods/odsreader.py
Owners: @GEOS-ESM/adas-gatekeepers, @GEOS-ESM/gcm-gatekeepers

update VIIRS kx's to include DB_DEEP
  GMAO_ods/kx_list.rc
Owners: @GEOS-ESM/adas-gatekeepers, @GEOS-ESM/gcm-gatekeepers

add lunar aeronet to kx_list
  GMAO_ods/kx_list.rc
Owners: @GEOS-ESM/adas-gatekeepers, @GEOS-ESM/gcm-gatekeepers

add lunar aeronet to py_ods kx list
  GMAO_ods/pyods_.F90
Owners: @GEOS-ESM/adas-gatekeepers, @GEOS-ESM/gcm-gatekeepers

update changelog
  CHANGELOG.md
Owners: @GEOS-ESM/adas-gatekeepers, @GEOS-ESM/gcm-gatekeepers

Added additional levels for GEOS-MLT
  GMAO_hermes/m_set_eta.F90
Owners: @GEOS-ESM/adas-gatekeepers, @GEOS-ESM/gcm-gatekeepers

Minor update to cmpdir.pl to not display the list of diffs to ignore if $ignoreFLG is off.
  GMAO_etc/cmpdir.pl
Owners: @GEOS-ESM/adas-gatekeepers, @GEOS-ESM/gcm-gatekeepers

Update pyods_.F90 to include NOAA-21
  GMAO_ods/pyods_.F90
Owners: @GEOS-ESM/adas-gatekeepers, @GEOS-ESM/gcm-gatekeepers

Update kx_list.rc with NOAA-21
  GMAO_ods/kx_list.rc
Owners: @GEOS-ESM/adas-gatekeepers, @GEOS-ESM/gcm-gatekeepers

Updates the levels needed for the 210km GEOS-MLT.
  GMAO_hermes/m_set_eta.F90
Owners: @GEOS-ESM/adas-gatekeepers, @GEOS-ESM/gcm-gatekeepers

Update CHANGELOG.md
  CHANGELOG.md
Owners: @GEOS-ESM/adas-gatekeepers, @GEOS-ESM/gcm-gatekeepers

Fix up Spack CI
  .github/workflows/spack-ci.yml
Owners: @GEOS-ESM/cmake-team

SLES-15 updates
  GMAO_etc/WriteLog.pm
  GMAO_etc/check_obsysrc.py
  GMAO_etc/dateutils.py
  GMAO_etc/nmlread.py
  GMAO_etc/obsys_rc.py
  GMAO_etc/parallel-untar.py
  GMAO_etc/pesto
  GMAO_etc/r_dist
  GMAO_etc/randates.py
  GMAO_etc/require_obsys.pl
  GMAO_etc/vED
Owners: @GEOS-ESM/adas-gatekeepers, @GEOS-ESM/gcm-gatekeepers

Adding FP version of obsys.rc
  GMAO_etc/obsys-fp.rc
Owners: @GEOS-ESM/adas-gatekeepers, @GEOS-ESM/gcm-gatekeepers

Tracking v1.9.9 lots to go
  .gitignore
  CHANGELOG.md
  CMakeLists.txt
  GEOS_Shared/CMakeLists.txt
  GEOS_Shared/GEOS_GmapMod.F90
  GEOS_Shared/surfacelayer.F90
  GMAO_etc/WriteLog.pm
  GMAO_etc/esma_mpirun
  GMAO_etc/n4zip
  GMAO_etc/obsys-nccs.rc
  GMAO_etc/pyrob
  GMAO_etc/pyrob_CF
  GMAO_hermes/CMakeLists.txt
  GMAO_hermes/dyn2dyn.f90
  GMAO_hermes/dyn_hydro.f90
  GMAO_hermes/m_set_eta.F90
  GMAO_ods/conv-kx.readme
  GMAO_ods/diag2ods
  GMAO_ods/kx_register.tbl
  GMAO_ods/m_odsxsup.f90
  GMAO_ods/ods_dcget.f
  GMAO_ods/ods_dcscan.f
  GMAO_ods/ods_diagnc4.f90
  GMAO_ods/ods_dsbuv.f
  GMAO_ods/odsmatch.rc
  GMAO_ods/odsmeta.h
  GMAO_pyobs/VegType_io.c
  GMAO_stoch/CMakeLists.txt
  LANL_Shared/CICE4/CMakeLists.txt
  LANL_Shared/CICE4/bld/makdep.c
  LANL_Shared/CICE4/source/ice_therm_vertical.F90
Owners: @GEOS-ESM/adas-gatekeepers, @GEOS-ESM/gcm-gatekeepers, @GEOS-ESM/cmake-team, @GEOS-ESM/land-team, @GEOS-ESM/seaice-team

v12: Updates for ifx builds
  GMAO_gfio/CMakeLists.txt
  GMAO_gfio/gfio.F
  GMAO_gfio/gfioutil.F
  GMAO_gfio/m_GFIO_PutFld.F
  GMAO_hermes/CMakeLists.txt
  GMAO_hermes/GFIO_Shave.F90
  GMAO_hermes/GFIO_remap.F90
Owners: @GEOS-ESM/cmake-team, @GEOS-ESM/adas-gatekeepers, @GEOS-ESM/gcm-gatekeepers

Fixes #394. Update gpy module in idcheck.pl
  CHANGELOG.md
  GMAO_etc/idcheck.pl
Owners: @GEOS-ESM/adas-gatekeepers, @GEOS-ESM/gcm-gatekeepers

.github/CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.
# Order is important; the last matching pattern takes the most
# precedence.

# Inform both ADAS and GCM Gatekeepers on changes
# This could get more specific over time
* @GEOS-ESM/adas-gatekeepers @GEOS-ESM/gcm-gatekeepers

# Cmake team manages the circleci and github dirs
/.circleci/ @GEOS-ESM/cmake-team
/.github/   @GEOS-ESM/cmake-team

# GEOS_Shared has files that the GCM and Land Team care about
/GEOS_Shared/ @GEOS-ESM/adas-gatekeepers @GEOS-ESM/gcm-gatekeepers @GEOS-ESM/land-team

# LANL_Shared is seaice territory
/LANL_Shared/ @GEOS-ESM/adas-gatekeepers @GEOS-ESM/gcm-gatekeepers @GEOS-ESM/seaice-team

# The GEOS CMake Team should also see CMakeLists.txt files in this repository
CMakeLists.txt @GEOS-ESM/cmake-team @GEOS-ESM/adas-gatekeepers @GEOS-ESM/gcm-gatekeepers
